@{
    ViewData["Title"] = "Order Confirmaton";
}

<h2 class="text-bg-success text-center p-2">Your order has been placed!</h2>
<h4 class="text-bg-info text-center p-2">You can track the status of your order in your account.</h4>

